body {
	margin: 0;
	background-color: #F0A28E;
}

#navbar {
	overflow: hidden;
	background-color: #F5D7A1;
	width: 100%;
	position: fixed;
}

#navbar li {
	display: inline-block;
}

#navbar a {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar a:hover {
	background-color: #F0A28E;
}

.dividor {
	background-color: #BA6476;
	height: 200px;
}

#space {
	height: 400px;
}
