body {
	margin: 0;
}

#navbar {
	overflow: hidden;
	background-color: #F5D7A1;
}

#navbar li {
	display: inline-block;
}

#navbar a {
	color: #F0A28E;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar a:hover {
	color: #BA6476;
}

.first {
	background-color: #F5D7A1;
	height: 500px;
}

.second {
	background-color: #F0A28E#BA6476;
	height: 400px;
}

.third {
	background-color: #F0A28E;
	height: 350px;
}
